<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDA0xKy9sFpG7Bu5FcFN5lz8wlyg7TF5n4</string>
	<key>GCM_SENDER_ID</key>
	<string>390899487606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Utkarsh.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-aa060</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-aa060.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390899487606:ios:f824323d07ddfaab77a057</string>
</dict>
</plist>